5.1.7   Checklist Verification. During the design of the checklist it is important to keep in mind
        that all checklist designs are subject to human error. Crewmembers may omit and skip
        checklist items or erroneously respond to a checklist at times believing that an item or a
        task was accomplished when it was not. At other times, crewmembers may see what they
        expect to see rather than what is actually accomplished or indicated.

        One strategy that helps to overcome human error is to develop policies for using
        checklists which require stringent cross-checking and verification and reinforce those


                                                  5-2

1/10/17                                                                                AC 120-71B


        policies through crew training programs. The procedures intended for checklist use
        should be clearly written in the operator’s operating manual and must be compatible with
        the operator’s CRM philosophy.

        The policy should include, but not be limited to, the following items:

        1. Flightcrew responsibilities for maintaining aircraft control, analyzing
           situations, and requesting the appropriate checklist in normal, abnormal,
           non-normal, and emergency situations.
        2. The specified crewmember responsible for initiating each checklist.
        3. The specified time when each checklist is to be initiated.
        4. The specified crewmember responsible for accomplishing each item on the
           checklist.
        5. The specified crewmember responsible for ensuring that each checklist is
           completed and reporting that completion to the crew.
        6. Crewmember responsibilities for bringing to the attention of the PIC and the
           rest of the crew any observed deviation from prescribed procedures.