12.2.3 Identity Verification. The methodology proposed to determine the identity of course
       participants at logon and during navigation of the lessons, including intentional
       or unintentional disruption of the lesson flow. Additionally, the TCO should describe
       methodologies proposed to prevent multiple concurrent logons by a course participant
       for the purpose of viewing or printing material during inappropriate stages of the lesson.